WSReferences/SMS4BРезерв/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="SMS client"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="SMS client"
		xmlns:xsd2="SMS client/AbstractTypes"
		xmlns:xsd3="http://schemas.xmlsoap.org/soap/encoding/"
		targetNamespace="SMS client">
	<documentation>Web-сервис для клиента SMS</documentation>
	<types>
		<s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
				xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
				xmlns:s="http://www.w3.org/2001/XMLSchema"
				xmlns:s1="SMS client/AbstractTypes"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				xmlns:xsd1="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:xsd3="SMS client"
				elementFormDefault="qualified"
				targetNamespace="SMS client">
			<s:element name="StartSessionUTC">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Login"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Password"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Local"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StartSessionUTCResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="StartSessionUTCResult"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StartSession">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Login"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Password"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Gmt"
								type="s:short"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StartSessionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="StartSessionResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CancelMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="guid"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CancelMessageResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="CancelMessageResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoadIn">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="StartChanges"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoadInResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="LoadInResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema"/>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoadMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoadMessageResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="LoadMessageResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema"/>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoadResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:int"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="MessageID"
								type="s:long"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoadResponseResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="LoadResponseResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SaveMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="guid"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Destination"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Source"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Body"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Encoded"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="dton"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="dnpi"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="ston"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="snpi"
								type="s:unsignedByte"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="TimeOff"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Priority"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="NoRequest"
								type="s:boolean"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SaveMessageResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SaveMessageResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AccountParams">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AccountParamsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="AccountParamsResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema"/>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CloseSession">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CloseSessionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="CloseSessionResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SaveMessages">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="List">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema"/>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SaveMessagesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="SaveMessagesResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema"/>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SaveMessageD">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="guid"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Destination"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Source"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Body"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Encoded"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="dton"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="dnpi"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="ston"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="snpi"
								type="s:unsignedByte"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="TimeOff"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Priority"
								type="s:unsignedByte"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="NoRequest"
								type="s:boolean"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="StartUp"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Period"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SaveMessageDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SaveMessageDResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SaveGroup">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SId"
								type="s:long"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Cod"
								type="s:long"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="NRq"
								type="s:int"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Ton"
								type="s:int"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Npi"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Src"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Enc"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Bdy"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Off"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="SUp"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Prd"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="List">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema"/>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SaveGroupResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SaveGroupResult"
								type="tns:SaveGroupResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="SaveGroupResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Code"
							type="s:long"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="List">
						<s:complexType>
							<s:sequence>
								<s:element ref="s:schema"/>
								<s:any/>
							</s:sequence>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:element name="GroupSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionId"
								type="s:long"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Group"
								type="s:long"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Source"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Encoding"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Body"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Off"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Start"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Period"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="List"
								type="tns:ArrayOfGroupSMSList"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfGroupSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="GroupSMSList"
							type="tns:GroupSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="GroupSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="G"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="D"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="B"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="E"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GroupSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GroupSMSResult"
								type="tns:GroupSMSResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="GroupSMSResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Group"
							type="s:long"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="List"
							type="tns:ArrayOfCheckSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCheckSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="CheckSMSList"
							type="tns:CheckSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="CheckSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="G"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="R"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="CheckSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionId"
								type="s:long"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Guids"
								type="tns:ArrayOfString"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="string"
							nillable="true"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="CheckSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="CheckSMSResult"
								type="tns:CheckSMSResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="CheckSMSResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="List"
							type="tns:ArrayOfCheckSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:element name="LoadSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionId"
								type="s:long"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="ChangesFrom"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="Flags"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoadSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="LoadSMSResult"
								type="tns:LoadSMSResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="LoadSMSResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="List"
							type="tns:ArrayOfSMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfSMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="SMSList"
							type="tns:SMSList"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="SMSList">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="G"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="D"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="B"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="E"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="A"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="P"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="M"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="T"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="S"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="ParamSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SessionId"
								type="s:long"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ParamSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="ParamSMSResult"
								type="tns:ParamSMSResult"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ParamSMSResult">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Result"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Rest"
							type="s:double"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Addresses"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="AddrMask"
							type="s:long"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="UTC"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Duration"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Limit"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="string"
					nillable="true"
					type="s:string"/>
			<s:element name="int"
					type="s:int"/>
			<s:element name="DataSet"
					nillable="true">
				<s:complexType>
					<s:sequence>
						<s:element ref="s:schema"/>
						<s:any/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CheckSMSResult"
					type="tns:CheckSMSResult"/>
			<s:element name="LoadSMSResult"
					type="tns:LoadSMSResult"/>
			<s:element name="ParamSMSResult"
					type="tns:ParamSMSResult"/>
		</s:schema>
		<s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
				xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
				xmlns:s="http://www.w3.org/2001/XMLSchema"
				xmlns:s1="SMS client/AbstractTypes"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
				xmlns:tns="SMS client/AbstractTypes"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				xmlns:xsd1="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:xsd3="SMS client"
				targetNamespace="SMS client/AbstractTypes">
			<s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<s:complexType name="StringArray"
					mixed="false">
				<s:complexContent mixed="false">
					<s:restriction base="xsd1:Array">
						<s:sequence>
							<s:element minOccurs="0"
									maxOccurs="unbounded"
									name="String"
									type="s:string"/>
						</s:sequence>
					</s:restriction>
				</s:complexContent>
			</s:complexType>
		</s:schema>
	</types>
	<message name="StartSessionUTCSoapIn">
		<part name="parameters"
				element="tns:StartSessionUTC"/>
	</message>
	<message name="StartSessionUTCSoapOut">
		<part name="parameters"
				element="tns:StartSessionUTCResponse"/>
	</message>
	<message name="StartSessionSoapIn">
		<part name="parameters"
				element="tns:StartSession"/>
	</message>
	<message name="StartSessionSoapOut">
		<part name="parameters"
				element="tns:StartSessionResponse"/>
	</message>
	<message name="CancelMessageSoapIn">
		<part name="parameters"
				element="tns:CancelMessage"/>
	</message>
	<message name="CancelMessageSoapOut">
		<part name="parameters"
				element="tns:CancelMessageResponse"/>
	</message>
	<message name="LoadInSoapIn">
		<part name="parameters"
				element="tns:LoadIn"/>
	</message>
	<message name="LoadInSoapOut">
		<part name="parameters"
				element="tns:LoadInResponse"/>
	</message>
	<message name="LoadMessageSoapIn">
		<part name="parameters"
				element="tns:LoadMessage"/>
	</message>
	<message name="LoadMessageSoapOut">
		<part name="parameters"
				element="tns:LoadMessageResponse"/>
	</message>
	<message name="LoadResponseSoapIn">
		<part name="parameters"
				element="tns:LoadResponse"/>
	</message>
	<message name="LoadResponseSoapOut">
		<part name="parameters"
				element="tns:LoadResponseResponse"/>
	</message>
	<message name="SaveMessageSoapIn">
		<part name="parameters"
				element="tns:SaveMessage"/>
	</message>
	<message name="SaveMessageSoapOut">
		<part name="parameters"
				element="tns:SaveMessageResponse"/>
	</message>
	<message name="AccountParamsSoapIn">
		<part name="parameters"
				element="tns:AccountParams"/>
	</message>
	<message name="AccountParamsSoapOut">
		<part name="parameters"
				element="tns:AccountParamsResponse"/>
	</message>
	<message name="CloseSessionSoapIn">
		<part name="parameters"
				element="tns:CloseSession"/>
	</message>
	<message name="CloseSessionSoapOut">
		<part name="parameters"
				element="tns:CloseSessionResponse"/>
	</message>
	<message name="SaveMessagesSoapIn">
		<part name="parameters"
				element="tns:SaveMessages"/>
	</message>
	<message name="SaveMessagesSoapOut">
		<part name="parameters"
				element="tns:SaveMessagesResponse"/>
	</message>
	<message name="SaveMessageDSoapIn">
		<part name="parameters"
				element="tns:SaveMessageD"/>
	</message>
	<message name="SaveMessageDSoapOut">
		<part name="parameters"
				element="tns:SaveMessageDResponse"/>
	</message>
	<message name="SaveGroupSoapIn">
		<part name="parameters"
				element="tns:SaveGroup"/>
	</message>
	<message name="SaveGroupSoapOut">
		<part name="parameters"
				element="tns:SaveGroupResponse"/>
	</message>
	<message name="GroupSMSSoapIn">
		<part name="parameters"
				element="tns:GroupSMS"/>
	</message>
	<message name="GroupSMSSoapOut">
		<part name="parameters"
				element="tns:GroupSMSResponse"/>
	</message>
	<message name="CheckSMSSoapIn">
		<part name="parameters"
				element="tns:CheckSMS"/>
	</message>
	<message name="CheckSMSSoapOut">
		<part name="parameters"
				element="tns:CheckSMSResponse"/>
	</message>
	<message name="LoadSMSSoapIn">
		<part name="parameters"
				element="tns:LoadSMS"/>
	</message>
	<message name="LoadSMSSoapOut">
		<part name="parameters"
				element="tns:LoadSMSResponse"/>
	</message>
	<message name="ParamSMSSoapIn">
		<part name="parameters"
				element="tns:ParamSMS"/>
	</message>
	<message name="ParamSMSSoapOut">
		<part name="parameters"
				element="tns:ParamSMSResponse"/>
	</message>
	<message name="StartSessionUTCHttpPostIn">
		<part name="Login"
				type="xsd:string"/>
		<part name="Password"
				type="xsd:string"/>
		<part name="Local"
				type="xsd:string"/>
	</message>
	<message name="StartSessionUTCHttpPostOut">
		<part name="Body"
				element="tns:string"/>
	</message>
	<message name="StartSessionHttpPostIn">
		<part name="Login"
				type="xsd:string"/>
		<part name="Password"
				type="xsd:string"/>
		<part name="Gmt"
				type="xsd:string"/>
	</message>
	<message name="StartSessionHttpPostOut">
		<part name="Body"
				element="tns:int"/>
	</message>
	<message name="CancelMessageHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
		<part name="guid"
				type="xsd:string"/>
	</message>
	<message name="CancelMessageHttpPostOut">
		<part name="Body"
				element="tns:int"/>
	</message>
	<message name="LoadInHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
		<part name="StartChanges"
				type="xsd:string"/>
	</message>
	<message name="LoadInHttpPostOut">
		<part name="Body"
				element="tns:DataSet"/>
	</message>
	<message name="LoadMessageHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
	</message>
	<message name="LoadMessageHttpPostOut">
		<part name="Body"
				element="tns:DataSet"/>
	</message>
	<message name="LoadResponseHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
		<part name="MessageID"
				type="xsd:string"/>
	</message>
	<message name="LoadResponseHttpPostOut">
		<part name="Body"
				element="tns:int"/>
	</message>
	<message name="SaveMessageHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
		<part name="guid"
				type="xsd:string"/>
		<part name="Destination"
				type="xsd:string"/>
		<part name="Source"
				type="xsd:string"/>
		<part name="Body"
				type="xsd:string"/>
		<part name="Encoded"
				type="xsd:string"/>
		<part name="dton"
				type="xsd:string"/>
		<part name="dnpi"
				type="xsd:string"/>
		<part name="ston"
				type="xsd:string"/>
		<part name="snpi"
				type="xsd:string"/>
		<part name="TimeOff"
				type="xsd:string"/>
		<part name="Priority"
				type="xsd:string"/>
		<part name="NoRequest"
				type="xsd:string"/>
	</message>
	<message name="SaveMessageHttpPostOut">
		<part name="Body"
				element="tns:int"/>
	</message>
	<message name="AccountParamsHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
	</message>
	<message name="AccountParamsHttpPostOut">
		<part name="Body"
				element="tns:DataSet"/>
	</message>
	<message name="CloseSessionHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
	</message>
	<message name="CloseSessionHttpPostOut">
		<part name="Body"
				element="tns:int"/>
	</message>
	<message name="SaveMessageDHttpPostIn">
		<part name="SessionID"
				type="xsd:string"/>
		<part name="guid"
				type="xsd:string"/>
		<part name="Destination"
				type="xsd:string"/>
		<part name="Source"
				type="xsd:string"/>
		<part name="Body"
				type="xsd:string"/>
		<part name="Encoded"
				type="xsd:string"/>
		<part name="dton"
				type="xsd:string"/>
		<part name="dnpi"
				type="xsd:string"/>
		<part name="ston"
				type="xsd:string"/>
		<part name="snpi"
				type="xsd:string"/>
		<part name="TimeOff"
				type="xsd:string"/>
		<part name="Priority"
				type="xsd:string"/>
		<part name="NoRequest"
				type="xsd:string"/>
		<part name="StartUp"
				type="xsd:string"/>
		<part name="Period"
				type="xsd:string"/>
	</message>
	<message name="SaveMessageDHttpPostOut">
		<part name="Body"
				element="tns:int"/>
	</message>
	<message name="CheckSMSHttpPostIn">
		<part name="SessionId"
				type="xsd:string"/>
		<part name="Guids"
				type="xsd2:StringArray"/>
	</message>
	<message name="CheckSMSHttpPostOut">
		<part name="Body"
				element="tns:CheckSMSResult"/>
	</message>
	<message name="LoadSMSHttpPostIn">
		<part name="SessionId"
				type="xsd:string"/>
		<part name="ChangesFrom"
				type="xsd:string"/>
		<part name="Flags"
				type="xsd:string"/>
	</message>
	<message name="LoadSMSHttpPostOut">
		<part name="Body"
				element="tns:LoadSMSResult"/>
	</message>
	<message name="ParamSMSHttpPostIn">
		<part name="SessionId"
				type="xsd:string"/>
	</message>
	<message name="ParamSMSHttpPostOut">
		<part name="Body"
				element="tns:ParamSMSResult"/>
	</message>
	<portType name="WSSMSoap">
		<operation name="StartSessionUTC">
			<documentation>Открыть сессию. Возвращает код для работы с другими методами и разницу в секундах Local от UTC или код ошибки (&lt;0)</documentation>
			<input name="StartSessionUTCRequest"
					message="tns:StartSessionUTCSoapIn"/>
			<output name="StartSessionUTCResponse"
					message="tns:StartSessionUTCSoapOut"/>
		</operation>
		<operation name="StartSession">
			<documentation>Открыть сессию. Возвращает код для работы с другими методами или код ошибки (&lt;0)</documentation>
			<input name="StartSessionRequest"
					message="tns:StartSessionSoapIn"/>
			<output name="StartSessionResponse"
					message="tns:StartSessionSoapOut"/>
		</operation>
		<operation name="CancelMessage">
			<documentation>Отменить доставку сообщения. Возвращается количество &gt;0 отмененных sms либо стандартный код ошибки. 0 означает невозможность отмены либо отсутствие sms.</documentation>
			<input name="CancelMessageRequest"
					message="tns:CancelMessageSoapIn"/>
			<output name="CancelMessageResponse"
					message="tns:CancelMessageSoapOut"/>
		</operation>
		<operation name="LoadIn">
			<documentation>Выдает с указанного момента пакет входящих сообщений, либо ничего, либо код ошибки (Result&lt;0)</documentation>
			<input name="LoadInRequest"
					message="tns:LoadInSoapIn"/>
			<output name="LoadInResponse"
					message="tns:LoadInSoapOut"/>
		</operation>
		<operation name="LoadMessage">
			<documentation>Устаревшее!</documentation>
			<input name="LoadMessageRequest"
					message="tns:LoadMessageSoapIn"/>
			<output name="LoadMessageResponse"
					message="tns:LoadMessageSoapOut"/>
		</operation>
		<operation name="LoadResponse">
			<documentation>Устаревшее!</documentation>
			<input name="LoadResponseRequest"
					message="tns:LoadResponseSoapIn"/>
			<output name="LoadResponseResponse"
					message="tns:LoadResponseSoapOut"/>
		</operation>
		<operation name="SaveMessage">
			<documentation>Устаревшее!</documentation>
			<input name="SaveMessageRequest"
					message="tns:SaveMessageSoapIn"/>
			<output name="SaveMessageResponse"
					message="tns:SaveMessageSoapOut"/>
		</operation>
		<operation name="AccountParams">
			<documentation>Устаревшее!</documentation>
			<input name="AccountParamsRequest"
					message="tns:AccountParamsSoapIn"/>
			<output name="AccountParamsResponse"
					message="tns:AccountParamsSoapOut"/>
		</operation>
		<operation name="CloseSession">
			<documentation>Закрыть сессию. Возвращает успешный 0 либо код ошибки</documentation>
			<input name="CloseSessionRequest"
					message="tns:CloseSessionSoapIn"/>
			<output name="CloseSessionResponse"
					message="tns:CloseSessionSoapOut"/>
		</operation>
		<operation name="SaveMessages">
			<documentation>Устаревшее!</documentation>
			<input name="SaveMessagesRequest"
					message="tns:SaveMessagesSoapIn"/>
			<output name="SaveMessagesResponse"
					message="tns:SaveMessagesSoapOut"/>
		</operation>
		<operation name="SaveMessageD">
			<documentation>Устаревшее!</documentation>
			<input name="SaveMessageDRequest"
					message="tns:SaveMessageDSoapIn"/>
			<output name="SaveMessageDResponse"
					message="tns:SaveMessageDSoapOut"/>
		</operation>
		<operation name="SaveGroup">
			<documentation>Устаревшее!</documentation>
			<input name="SaveGroupRequest"
					message="tns:SaveGroupSoapIn"/>
			<output name="SaveGroupResponse"
					message="tns:SaveGroupSoapOut"/>
		</operation>
		<operation name="GroupSMS">
			<documentation>Отправка пакета группы сообщений. При (Group=-1) создается группа. При (Group=-2) создается равномерная группа. Если возвращается Result &gt; 0 и Group &gt;=0, то принято хотя бы одно сообщение и в каждой строке List в поле R код состояния (&gt;0) либо код ошибки (&lt;0)</documentation>
			<input name="GroupSMSRequest"
					message="tns:GroupSMSSoapIn"/>
			<output name="GroupSMSResponse"
					message="tns:GroupSMSSoapOut"/>
		</operation>
		<operation name="CheckSMS">
			<documentation>Проверка пакета сообщений. Если возвращается Result &gt; 0, то в списке List для каждого сообщения возвращает состояние (R&gt;0), либо код ошибки (R&lt;=0)</documentation>
			<input name="CheckSMSRequest"
					message="tns:CheckSMSSoapIn"/>
			<output name="CheckSMSResponse"
					message="tns:CheckSMSSoapOut"/>
		</operation>
		<operation name="LoadSMS">
			<documentation>Выдача с указанного момента ChangesFrom пакета входящих sms (при Flags = 0) либо склеенных сообщений (при Flags = 1), либо (Result=0), либо код ошибки (Result&lt;0)</documentation>
			<input name="LoadSMSRequest"
					message="tns:LoadSMSSoapIn"/>
			<output name="LoadSMSResponse"
					message="tns:LoadSMSSoapOut"/>
		</operation>
		<operation name="ParamSMS">
			<documentation>Выдача параметров либо кода ошибки (Result&lt;0)</documentation>
			<input name="ParamSMSRequest"
					message="tns:ParamSMSSoapIn"/>
			<output name="ParamSMSResponse"
					message="tns:ParamSMSSoapOut"/>
		</operation>
	</portType>
	<portType name="WSSMHttpPost">
		<operation name="StartSessionUTC">
			<documentation>Открыть сессию. Возвращает код для работы с другими методами и разницу в секундах Local от UTC или код ошибки (&lt;0)</documentation>
			<input name="StartSessionUTCRequest"
					message="tns:StartSessionUTCHttpPostIn"/>
			<output name="StartSessionUTCResponse"
					message="tns:StartSessionUTCHttpPostOut"/>
		</operation>
		<operation name="StartSession">
			<documentation>Открыть сессию. Возвращает код для работы с другими методами или код ошибки (&lt;0)</documentation>
			<input name="StartSessionRequest"
					message="tns:StartSessionHttpPostIn"/>
			<output name="StartSessionResponse"
					message="tns:StartSessionHttpPostOut"/>
		</operation>
		<operation name="CancelMessage">
			<documentation>Отменить доставку сообщения. Возвращается количество &gt;0 отмененных sms либо стандартный код ошибки. 0 означает невозможность отмены либо отсутствие sms.</documentation>
			<input name="CancelMessageRequest"
					message="tns:CancelMessageHttpPostIn"/>
			<output name="CancelMessageResponse"
					message="tns:CancelMessageHttpPostOut"/>
		</operation>
		<operation name="LoadIn">
			<documentation>Выдает с указанного момента пакет входящих сообщений, либо ничего, либо код ошибки (Result&lt;0)</documentation>
			<input name="LoadInRequest"
					message="tns:LoadInHttpPostIn"/>
			<output name="LoadInResponse"
					message="tns:LoadInHttpPostOut"/>
		</operation>
		<operation name="LoadMessage">
			<documentation>Устаревшее!</documentation>
			<input name="LoadMessageRequest"
					message="tns:LoadMessageHttpPostIn"/>
			<output name="LoadMessageResponse"
					message="tns:LoadMessageHttpPostOut"/>
		</operation>
		<operation name="LoadResponse">
			<documentation>Устаревшее!</documentation>
			<input name="LoadResponseRequest"
					message="tns:LoadResponseHttpPostIn"/>
			<output name="LoadResponseResponse"
					message="tns:LoadResponseHttpPostOut"/>
		</operation>
		<operation name="SaveMessage">
			<documentation>Устаревшее!</documentation>
			<input name="SaveMessageRequest"
					message="tns:SaveMessageHttpPostIn"/>
			<output name="SaveMessageResponse"
					message="tns:SaveMessageHttpPostOut"/>
		</operation>
		<operation name="AccountParams">
			<documentation>Устаревшее!</documentation>
			<input name="AccountParamsRequest"
					message="tns:AccountParamsHttpPostIn"/>
			<output name="AccountParamsResponse"
					message="tns:AccountParamsHttpPostOut"/>
		</operation>
		<operation name="CloseSession">
			<documentation>Закрыть сессию. Возвращает успешный 0 либо код ошибки</documentation>
			<input name="CloseSessionRequest"
					message="tns:CloseSessionHttpPostIn"/>
			<output name="CloseSessionResponse"
					message="tns:CloseSessionHttpPostOut"/>
		</operation>
		<operation name="SaveMessageD">
			<documentation>Устаревшее!</documentation>
			<input name="SaveMessageDRequest"
					message="tns:SaveMessageDHttpPostIn"/>
			<output name="SaveMessageDResponse"
					message="tns:SaveMessageDHttpPostOut"/>
		</operation>
		<operation name="CheckSMS">
			<documentation>Проверка пакета сообщений. Если возвращается Result &gt; 0, то в списке List для каждого сообщения возвращает состояние (R&gt;0), либо код ошибки (R&lt;=0)</documentation>
			<input name="CheckSMSRequest"
					message="tns:CheckSMSHttpPostIn"/>
			<output name="CheckSMSResponse"
					message="tns:CheckSMSHttpPostOut"/>
		</operation>
		<operation name="LoadSMS">
			<documentation>Выдача с указанного момента ChangesFrom пакета входящих sms (при Flags = 0) либо склеенных сообщений (при Flags = 1), либо (Result=0), либо код ошибки (Result&lt;0)</documentation>
			<input name="LoadSMSRequest"
					message="tns:LoadSMSHttpPostIn"/>
			<output name="LoadSMSResponse"
					message="tns:LoadSMSHttpPostOut"/>
		</operation>
		<operation name="ParamSMS">
			<documentation>Выдача параметров либо кода ошибки (Result&lt;0)</documentation>
			<input name="ParamSMSRequest"
					message="tns:ParamSMSHttpPostIn"/>
			<output name="ParamSMSResponse"
					message="tns:ParamSMSHttpPostOut"/>
		</operation>
	</portType>
	<binding name="WSSMSoap"
			type="tns:WSSMSoap">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="StartSessionUTC">
			<soapbind:operation style="document"
					soapAction="SMS client/StartSessionUTC"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="StartSession">
			<soapbind:operation style="document"
					soapAction="SMS client/StartSession"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelMessage">
			<soapbind:operation style="document"
					soapAction="SMS client/CancelMessage"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadIn">
			<soapbind:operation style="document"
					soapAction="SMS client/LoadIn"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadMessage">
			<soapbind:operation style="document"
					soapAction="SMS client/LoadMessage"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadResponse">
			<soapbind:operation style="document"
					soapAction="SMS client/LoadResponse"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveMessage">
			<soapbind:operation style="document"
					soapAction="SMS client/SaveMessage"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AccountParams">
			<soapbind:operation style="document"
					soapAction="SMS client/AccountParams"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CloseSession">
			<soapbind:operation style="document"
					soapAction="SMS client/CloseSession"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveMessages">
			<soapbind:operation style="document"
					soapAction="SMS client/SaveMessages"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveMessageD">
			<soapbind:operation style="document"
					soapAction="SMS client/SaveMessageD"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveGroup">
			<soapbind:operation style="document"
					soapAction="SMS client/SaveGroup"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GroupSMS">
			<soapbind:operation style="document"
					soapAction="SMS client/GroupSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CheckSMS">
			<soapbind:operation style="document"
					soapAction="SMS client/CheckSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadSMS">
			<soapbind:operation style="document"
					soapAction="SMS client/LoadSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="ParamSMS">
			<soapbind:operation style="document"
					soapAction="SMS client/ParamSMS"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="WSSMSoap12"
			type="tns:WSSMSoap">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="StartSessionUTC">
			<soap12bind:operation style="document"
					soapAction="SMS client/StartSessionUTC"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="StartSession">
			<soap12bind:operation style="document"
					soapAction="SMS client/StartSession"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelMessage">
			<soap12bind:operation style="document"
					soapAction="SMS client/CancelMessage"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadIn">
			<soap12bind:operation style="document"
					soapAction="SMS client/LoadIn"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadMessage">
			<soap12bind:operation style="document"
					soapAction="SMS client/LoadMessage"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadResponse">
			<soap12bind:operation style="document"
					soapAction="SMS client/LoadResponse"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveMessage">
			<soap12bind:operation style="document"
					soapAction="SMS client/SaveMessage"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AccountParams">
			<soap12bind:operation style="document"
					soapAction="SMS client/AccountParams"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CloseSession">
			<soap12bind:operation style="document"
					soapAction="SMS client/CloseSession"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveMessages">
			<soap12bind:operation style="document"
					soapAction="SMS client/SaveMessages"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveMessageD">
			<soap12bind:operation style="document"
					soapAction="SMS client/SaveMessageD"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveGroup">
			<soap12bind:operation style="document"
					soapAction="SMS client/SaveGroup"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GroupSMS">
			<soap12bind:operation style="document"
					soapAction="SMS client/GroupSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CheckSMS">
			<soap12bind:operation style="document"
					soapAction="SMS client/CheckSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadSMS">
			<soap12bind:operation style="document"
					soapAction="SMS client/LoadSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="ParamSMS">
			<soap12bind:operation style="document"
					soapAction="SMS client/ParamSMS"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="WSSMHttpPost"
			type="tns:WSSMHttpPost">
		<operation name="StartSessionUTC">
			<input/>
			<output/>
		</operation>
		<operation name="StartSession">
			<input/>
			<output/>
		</operation>
		<operation name="CancelMessage">
			<input/>
			<output/>
		</operation>
		<operation name="LoadIn">
			<input/>
			<output/>
		</operation>
		<operation name="LoadMessage">
			<input/>
			<output/>
		</operation>
		<operation name="LoadResponse">
			<input/>
			<output/>
		</operation>
		<operation name="SaveMessage">
			<input/>
			<output/>
		</operation>
		<operation name="AccountParams">
			<input/>
			<output/>
		</operation>
		<operation name="CloseSession">
			<input/>
			<output/>
		</operation>
		<operation name="SaveMessageD">
			<input/>
			<output/>
		</operation>
		<operation name="CheckSMS">
			<input/>
			<output/>
		</operation>
		<operation name="LoadSMS">
			<input/>
			<output/>
		</operation>
		<operation name="ParamSMS">
			<input/>
			<output/>
		</operation>
	</binding>
	<service name="WSSM">
		<documentation>Web-сервис для клиента SMS</documentation>
		<port name="WSSMSoap"
				binding="tns:WSSMSoap">
			<soapbind:address location="https://s.sms4b.ru/webservices/sms.asmx"/>
		</port>
		<port name="WSSMSoap12"
				binding="tns:WSSMSoap12">
			<soap12bind:address location="https://s.sms4b.ru/webservices/sms.asmx"/>
		</port>
		<port name="WSSMHttpPost"
				binding="tns:WSSMHttpPost"/>
	</service>
</definitions>